<div class = "searchform d-flex justify-content-center">
<%= search_form_for @q, remote: true do |f| %>
  <%= f.label :title_cont, 'Title contains: ', class: 'search-field' %>
  <%= f.search_field :title_cont %>
  <%= f.submit 'Search', class: 'search-button' %>
<% end %>
</div>
<h1 class = "d-flex justify-content-center">All Recent Postings</h1>
<center><%= button_to 'Post an Equipment', new_equipment_path, method: :get, class: "btn btn-primary"%></center>
<div class = "cardcontainer">
<% @equipments.each do |e|%>
  <div class = "card my-5">
    <% if e.photo.key %>
      <%= cl_image_tag e.photo.key, height: 300, width: 325 %>
    <% end %>
    <h4 class = "etitle my-4"><strong><%= e.title %></strong></h4>
    <p><strong>Daily Price:</strong> €<%= e.daily_price %></p>
    <p class = "edescription mx-4"> <%= e.description%></p>
    <p><%= icon e.state_icon, class: 'fa-lg' %> <%= e.state.capitalize %> </p>
    <%= button_to 'Show more', equipment_path(e), method: :get, class: "btn-primary btn-lg"%>
    <br>
    <br>
  </div>
<% end %>
</div>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
