<% @equipments.each do |e|%>
  <p>Title: <%= e.title %></p>
  <p>Daily Price: <%= e.daily_price %></p>
  <p>Description: <%= e.description%></p>
  <p>Category: <%= e.category %></p>
  <p>State: <%= e.state %></p>
<% end %>
