<h1 class = "d-flex justify-content-center">All Recent Postings</h1>
<center><%= button_to 'Post an Equipment', new_equipment_path, method: :get, class: "btn-primary"%></center>
<div class = "cardcontainer">
<% @equipments.each do |e|%>
  <div class = "card my-3">
  <% if e.photo.key %>
    <%= cl_image_tag e.photo.key, height: 150, width: 400, crop: :fill %>
  <% end %>
  <h4><%= e.title %></h4>
  <p>Daily Price: €<%= e.daily_price %></p>
  <p> <%= e.description%></p>
  <p>State: <%= e.state %></p>
  <%= button_to 'Show more', equipment_path(e), method: :get, class: "btn-primary"%>
  <br>
  <br>
  </div>
<% end %>
</div>
