
<div class = "new-equipment-form">
<h2 class = "d-flex justify-content-center my-4">Rent Out Your Equipment for Others</h2>
<%= simple_form_for(@equipment) do |f| %>
  <%= f.input :photo, as: :file %>

  <%= f.input :title %>

  <%= f.input :description %>

  <%= f.input :address %>

  <%= f.input :daily_price %>

  <%= f.input :category, collection: [["Camera", "camera"], ["Lighting", "lighting"], ["Sound", "sound"], ["Supports", "supports"], ["Lenses", "lenses"]] %>

  <%= f.input :state, collection: [["New", "new"], ["Used", "used"], ["Decayed", "decayed"]] %>

  <%= f.submit "POST MY EQUIPMENT", class: "btn btn-primary" %>
<% end %>
</div>
