<div class = "descriptioncontainer bgcolor container">
    <div class="row">
      <div class="col-md-6" style="padding-left:0px">
      <% if @equipment.photo.key %>

        <%= cl_image_tag @equipment.photo.key, class:"photo"%>
        <% end %>
        </div>
      <div class="col-md-6">
      <h2 class = "d-flex justify-content-center"><%= @equipment.title %></h2>
      <p class="space">Description: <%= @equipment.description%></p>
        <p class="space">Category: <%= @equipment.category %></p>
        <p class="space">State: <%= @equipment.state %></p>
        <h4 class="space">€<%= @equipment.daily_price %>.00</h4>
        <%= button_to 'I Wanna Rent It!', new_equipment_booking_path(@equipment, @booking), method: :get, class: "btn btn-primary"%>
        <br>
        <%= link_to "Back to postings", equipment_index_path, class:"padding-link"%>
      </div>
    </div>
</div>
