<div class = "descriptioncontainer">
<p><%= @equipment.title %></p>
<p><%= @equipment.daily_price %></p>
<p><%= @equipment.description%></p>
<p><%= @equipment.category %></p>
<p><%= @equipment.state %></p>
</div>
