<div class="container">
  <h1>My bookings</h1>
  <% @bookings.each do |booking|%>
    <h4><%= booking.equipment.title %></h4>
    <p>From user: <b><%= booking.user.email %></b></p>
    <p><%= booking.start_date %></p>
    <p><%= booking.end_date %></p>
    <p><%= booking.end_date %></p>
    <% start_date = booking.start_date.to_date %>
    <% end_date = booking.end_date.to_date %>
    <% total_days = (end_date - start_date).to_i + 1 %>
    <p>Total days: <b><%= total_days %></b></p>
    <% daily_price = daily_price.to_i %>
    <% total_cost = total_days * daily_price %>
    <p>Total price: <b>€ <%= total_cost %></b> </p>

    <hr>
  <% end %>
</div>
