<div class="container">
  <div class="row pt-5">
    <div class="col-md-6 p-5">
    <h1>My bookings</h1>
    <% if @bookings.empty? %>
      <h2>You have no bookings</h2>
    <% else %>
      <% @bookings.reverse.each do |booking|%>
          <h4><%= booking.equipment.title %></h4>
          <p>From user: <b><%= booking.user.email %></b></p>
          <p><%= booking.start_date %></p>
          <p><%= booking.end_date %></p>
          <% start_date = booking.start_date.to_date %>
          <% end_date = booking.end_date.to_date %>
          <% total_days = (end_date - start_date).to_i + 1 %>
          <p>Total days: <b><%= total_days %></b></p>
          <% integer_price = booking.equipment.daily_price.to_i %>
          <% total_cost = total_days * integer_price %>
          <p>Total price: <b>€ <%= total_cost %></b> </p>
          <hr>
      <% end %>
    <% end %>
    </div>

    <div class="col-md-6 p-5">
      <% @equipment.reverse.each do |equipment| %>
        <% if equipment.bookings.empty? %>
          <h2>You have no requests</h2>
        <% else %>
          <h2>Waiting for your approval</h2>
           <% equipment.bookings.each do |booking| %>
           <hr>
            <p> Request from: <b><%= booking.user.email %> </b></p>
            <h3>Booking information:</h3>
            <p>From: <b><%= booking.start_date %></b></p>
            <p>To: <b><%= booking.end_date %></b></p>
            <% start_date = booking.start_date.to_date %>
            <% end_date = booking.end_date.to_date %>
            <% total_days = (end_date - start_date).to_i + 1 %>
            <p>Total days: <b><%= total_days %></b></p>
            <% integer_price = booking.equipment.daily_price.to_i %>
            <% total_cost = total_days * integer_price %>
            <p>Total price: <b>€ <%= total_cost %></b> </p>
            <%= link_to "Accept",  equipment_update_booking_status_accept_path(@equipment, booking), class: "btn btn-success", data: {turbo_method: :patch, turbo_confirm: "You're about to accept this request. Do you want to proceed?"} %>
            <%= link_to "Decline", equipment_update_booking_status_decline_path(@equipment, booking), class: "btn btn-danger", data: {turbo_method: :patch, turbo_confirm: "You're about decline this booking. Are you sure?"} %>
          <% end %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
