<h2 class = "d-flex justify-content-center my-3">Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs d-flex flex-column justify-content-center col-4 offset-4">
    <%= f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" } %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <center><%= f.button :submit, "Log in", class:"btn btn-primary" %></center>
  </div>
<% end %>
<br>
<center><%= render "devise/shared/links" %></center>
